{% extends 'templates/app.twig' %}
{% block content %}
<div class="row" style="padding: 25px">
  <div class="col-md-6 col-md-offset-3">
    <div class="card border-dark mb-3">
      <div class="card-header">Sign in</div>
      <div class="card-body">
        <form action="{{ path_for('auth.signin') }}" method="post">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" placeholder="you@domain.com" class="form-control{% if errors.email %} is-invalid{% endif %}" value="{{ old.email }}">
            <div class="invalid-feedback">{{ errors.email | first }}</div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control{% if errors.password %} is-invalid{% endif %}">
            <div class="invalid-feedback">{{ errors.password | first }}</div>
          </div>
          <button type="submit" class="btn btn-dark">Sign in</button>
          {{ csrf.field | raw }}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
